/*table.dataTable tr.odd {*/
    /*background-color: #eee !important;*/
/*}*/
/*table.dataTable tr.odd td.sorting_1 {*/
    /*background-color: #eee !important;*/
/*}*/

/*table.dataTable tr.even {*/
    /*background-color: #fff !important;*/
/*}*/
/*table.dataTable tr.even td.sorting_1 {*/
    /*background-color: #fff !important;*/
/*}*/